---
layout: null
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Gaming</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
    {% include header.html %}
<body>

    <h1 class="main-title">Zona Gamer</h1>

    <div class="container">
        
        <div class="panel resident active">
            <h3>Resident Evil</h3>
            <p>"Nuestra vida es como un juego de supervivencia; nunca sabes qué hay detrás de la siguiente puerta." - Leon S. Kennedy</p>
        </div>

        <div class="panel starwars">
            <h3>Star Wars</h3>
            <p>"El miedo es el camino hacia el lado oscuro. El miedo lleva a la ira, la ira lleva al odio." - Yoda</p>
        </div>

        <div class="panel halo">
            <h3>Halo 4</h3>
            <p>"No hacemos esto por ser reconocidos, lo hacemos porque es lo correcto. Despiértame cuando me necesites." - Master Chief</p>
        </div>

    </div>

 {% include footer.html %}

    <script>
        const panels = document.querySelectorAll('.panel');
        panels.forEach(panel => {
            panel.addEventListener('click', () => {
                removeActiveClasses();
                panel.classList.add('active');
            });
        });
        function removeActiveClasses() {
            panels.forEach(panel => {
                panel.classList.remove('active');
            });
        }
    </script>
</body>
</html>
