---
---
{% include header.html %}

<main>
    <h2>La Corporación Umbrella</h2>
    <p>
        Resident Evil (conocido en Japón como <strong>Biohazard</strong>) es una franquicia de medios japonesa propiedad de Capcom.
        La trama gira en torno a brotes de zombis y otros monstruos generados principalmente por la 
        Corporación Umbrella y sus diversos virus biológicos.
    </p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Umbrella_Corporation_logo.svg/1024px-Umbrella_Corporation_logo.svg.png" 
         alt="Logo Umbrella Corp" class="responsive">

    <h2>El Origen del Terror</h2>
    <p>
        Todo comenzó en las montañas Arklay, cerca de Raccoon City, donde un equipo de fuerzas especiales (S.T.A.R.S.)
        descubrió una mansión llena de horrores genéticos creados por el Virus-T.
    </p>

    <img src="https://images.unsplash.com/photo-1505548981308-5954460517fa?q=80&w=1000&auto=format&fit=crop" 
         alt="Mansión Terrorífica" class="responsive">

</main>

{% include footer.html %}
