---
layout: null
---
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N9QGH8HT');</script>
<!-- End Google Tag Manager -->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases Motivadoras</title>

    <!-- CSS externo -->
    <link rel="stylesheet" href="styles.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HSC5PS7F3Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-HSC5PS7F3Q');
    </script>
</head>

{% include header.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9QGH8HT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <h1 class="main-title">Frases Motivadoras</h1>

    <div class="container">
        <div class="panel active">
            <h3>La Persistencia</h3>
            <p>"No importa cuán fuerte golpees, sino cuán fuerte pueden golpearte y seguir avanzando." - Rocky Balboa</p>
        </div>

        <div class="panel">
            <h3>El Conocimiento</h3>
            <p>"La imaginación es más importante que el conocimiento. El conocimiento es limitado." - Albert Einstein</p>
        </div>

        <div class="panel">
            <h3>La Fuerza</h3>
            <p>"Hazlo o no lo hagas, pero no lo intentes." - Maestro Yoda</p>
        </div>
    </div>
    <a href="gaming.html" class="btn-gaming">
       🎮 Ir a Zona Gaming
    </a>
{% include footer.html %}
    <!-- JS externo -->
    <script src="script.js"></script>
</body>
</html>
