---
---
{% include header.html %}

<main>
    <h2>La Saga Principal</h2>
    <p>
        Desde 1996, la saga ha evolucionado desde el terror de cámara fija hasta la acción en tercera persona 
        y el horror en primera persona.
    </p>

    
    <img src="https://img2.rtve.es/n/2432794" 
         alt="Ambiente de Terror Gaming" class="responsive">
    <h2>Títulos Destacados</h2>
    <ul>
        <li><strong>Resident Evil 1 (1996):</strong> El incidente de la Mansión Spencer.</li>
        <li><strong>Resident Evil 2 Remake:</strong> La caída de Raccoon City con Leon y Claire.</li>
        <li><strong>Resident Evil 4:</strong> Leon S. Kennedy rescatando a la hija del presidente en España.</li>
        <li><strong>Resident Evil 7 & Village:</strong> La saga de Ethan Winters y el horror biológico moderno.</li>
    </ul>
</main>

{% include footer.html %}
