---
---
{% include header.html %}

<main>
    <h2>Universo Cinematográfico</h2>
    
    <div class="poema" style="font-style: normal;">
        <p>
            El universo de Resident Evil se ha expandido más allá de las consolas. Existen dos líneas principales
            en el cine:
        </p>

        <h3>La Saga de Alice (Live Action)</h3>
        <p>Protagonizada por Milla Jovovich, esta saga de 6 películas se desvía de los juegos para contar una historia de acción desenfrenada.</p>

        <h3>Las Películas CGI (Canon)</h3>
        <p>Películas como <em>Degeneration</em>, <em>Damnation</em> y <em>Vendetta</em> que siguen la historia oficial de los videojuegos.</p>
    </div>

    
    <img src="https://images.unsplash.com/photo-1627820751275-f5513d6a6665?q=80&w=900&auto=format&fit=crop" 
         alt="Zombies" class="responsive">

    <h2>Novelas de S.D. Perry</h2>
    <p>
        Una mención especial a las novelas escritas por S.D. Perry, que adaptaron los primeros juegos profundizando 
        en la psicología de personajes como Jill Valentine, Chris Redfield y Rebecca Chambers.
    </p>
</main>

{% include footer.html %}
