<!DOCTYPE html>
<html lang="es">
<head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WJW9JHWJ');</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil Universe</title>
    
    <meta name="author" content="Fan de Resident Evil" />
    <meta name="description" content="Información sobre la saga Resident Evil, juegos y películas." />
    
    <meta property="og:title" content="Resident Evil Universe" />
    <meta property="og:description" content="Adéntrate en el horror de supervivencia de Umbrella Corp." />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Umbrella_Corporation_logo.svg/1200px-Umbrella_Corporation_logo.svg.png" />
    <meta property="og:type" content="website" />
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJW9JHWJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <header>
        <h1>Resident Evil</h1>
        <p>Bienvenido al mundo del Survival Horror</p>
    </header>
    
    <nav>
        <a href="index.html">Inicio</a>
        <a href="juegos.html">Videojuegos</a>
        <a href="peliculas.html">Películas y Novelas</a>
    </nav>
